/*  Add your styling here */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* HEADER */
.header {
  display: flex;
  background-color: #b9fbc0;
  flex-direction: row;
}

.logo {
  flex-basis: 45%;
}

.imgLogo {
  width: 100%;
}

.headerDerecha {
  display: flex;
  flex-basis: 66%;
  flex-direction: column;
  justify-content: space-between;
}

.navMenu {
  text-align: right;
  padding: 3px 10px;
  font-size: 2.5em;
}

.header .title {
  text-align: right;
  font-family: "Rancho", cursive;
  font-style: italic;
  color: #913dff;
  text-shadow: 5px 5px 8px #525252;
  font-size: 2em;
  margin: 5px 10px;
}

.title p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* NAVIGATON DESKTOP */

.navigationBar {
  display: none;
  background-color: #ffcdb2;
  padding: 5px;
  min-width: 90%;
  max-width: 90%;
  margin: 10px auto;
  border-radius: 10px;
}

.navButtons {
  text-align: right;
  padding: 10px 5px;
}

.button {
  background-color: #ffb4a2;
  color: #6d6875;
  border: none;
  width: 140px;
  font-size: 1.5em;
  padding: 5px 0;
  margin: 10px 5px;
}

.button:hover {
  color: #ffb4a2;
  background-color: #6d6875;
  transition: 0.5s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

/* WELCOME */

.main {
  padding: 10px;
}

.welcome {
  font-size: 1.75em;
  text-align: center;
  color: #b08401;
  margin: 0px 0px;
  font-style: italic;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.descripcion {
  font-size: 0.8em;
  margin: 5px;
  font-style: italic;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.pastel_principal {
  background-image: url(https://media.istockphoto.com/photos/sponge-cake-with-strawberries-and-vanilla-cream-strawberry-fraisier-picture-id1303029494?k=20&m=1303029494&s=612x612&w=0&h=jkwd2vxuXRKOmYXJ21EhQQ16olScI0eQkNj4r752xj8=);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin: 3px;
  text-align: center;
}

/* PRODUCTOS */

.pasteles{
  display: flex;
}

/* Media Queries */

@media screen and (min-width: 540px) {
}

@media screen and (min-width: 900px) {
  .header {
    margin: 0px;
    height: 250px;
  }
  .navMenu {
    display: none;
  }
  .navigationBar {
    display: grid;
  }
  .title {
    width: 250px;
    font-style: italic;
    font-size: 2em;
    margin: 0;
  }
  .header .title {
    width: 600px;
    font-size: 2.7em;
  }
  .logo {
    text-align: left;
    max-width: 50%;
    height: 250px;
    top: 0%;
  }
}
