/*  Add your styling here */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  background-color: #b9fbc0;
  flex-direction: row;
}

.logo {
  flex-basis: 33%;
}

.imgLogo {
  width: 100%;
}

.headerDerecha {
  display: flex;
  flex-basis: 66%;
  flex-direction: column;
  justify-content: space-between;
}

.navMenu {
  text-align: right;
  padding: 3px 10px;
  font-size: 2.5em;
}

.header .title {
  text-align: right;
  font-family: "Rancho", cursive;
  font-style: italic;
  color: #913dff;
  text-shadow: 5px 5px 8px #525252;
  font-size: 2em;
  margin: 5px 10px;
}

/* NAVIGATON DESKTOP */

.navigationBar {
  display: none;
  background-color: #ffcdb2;
  padding: 5px;
  min-width: 90%;
  max-width: 90%;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

.navButtons {
  text-align: right;
  padding: 10px 5px;
}

.button {
  background-color: #ffb4a2;
  color: #6d6875;
  border: none;
  width: 140px;
  font-size: 1.5em;
  padding: 5px 0;
  margin: 10px 5px;
}

.button:hover {
  color: #ffb4a2;
  background-color: #6d6875;
  transition: 0.5s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

/* WELCOME */

.main {
  padding: 5px;
}

.welcome {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center;
  color: #b08401;
  margin: 0px 0px;
  padding: 0 80px;
  font-style: italic;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.b1 {
  text-align: left;
}

.b3 {
  text-align: right;
}

.descripcion {
  font-size: 0.8em;
  margin: 5px;
  font-style: italic;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.pastel_principal {
  background-image: url(https://media.istockphoto.com/photos/sponge-cake-with-strawberries-and-vanilla-cream-strawberry-fraisier-picture-id1303029494?k=20&m=1303029494&s=612x612&w=0&h=jkwd2vxuXRKOmYXJ21EhQQ16olScI0eQkNj4r752xj8=);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  text-align: center;
}

/* PRODUCTOS */

.pasteles {
  justify-content: space-around;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
}

.producto {
  background-color: #f0f0f0;
  height: 300px;
  width: 195px;
  margin: 5px;
  max-width: 260px;
  max-height: 300px;

}

.producto:hover {
  background-color: #d8d8d8;
  transform: scale(0.95);
  box-shadow: 5px 10px 15px #000000;
  transition: 0.5s;
}

.producto:active {
  transform: none;
}

.foto:hover {
  filter: blur(1px);
}
.foto:active {
  filter: none;
}

.descProd {
  padding: 5px 0;
  text-align: center;
}

.precio {
  text-align: right;
  margin: 10px 3px 0px;
  font-weight: bold;
  font-style: italic;
}

.foto {
  width: 100%;
  height: 80%;
}

.pas1 {
  background-image: url(https://images.unsplash.com/photo-1621303837174-89787a7d4729);
  background-size: cover;
  background-position: center;
}

.pas2 {
  background-image: url(https://images.unsplash.com/photo-1562440499-64c9a111f713);
  background-size: cover;
  background-position: center;
}

.pas3 {
  background-image: url(https://images.unsplash.com/photo-1464349095431-e9a21285b5f3);
  background-size: cover;
  background-position: center;
}

.pas4 {
  background-image: url(https://t2.rg.ltmcdn.com/es/posts/9/6/2/pastel_de_fresas_y_crema_chantilly_9269_600.jpg);
  background-size: cover;
  background-position: center;
}

.footer {
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(255,145,254,1) 58%, rgba(255,211,249,1) 100%, rgba(0,212,255,1) 100%);
}
.info {
  padding: 5px;
}
.infoContenedor {
  margin-left: 0 20px;
}

.contacto img{
  height: 25px;
}

.contacto{
  text-align: center;
}

p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/* Media Queries */

@media screen and (min-width: 540px) {
  .imgLogo {
    height: 100%;
  }
  .descripcion {
    font-size: 1em;
  }
  .header .title {
    font-size: 2.7em;
  }
  .welcome {
    padding: 0 110px;
  }
  .producto {
    width: -webkit-fill-available;
  }
  .pasteles {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 900px) {
  .imgLogo {
    height: 100%;
    width: auto;
  }
  .bienvenida {
    padding: 50px 0;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .welcome {
    height: 100%;
    padding: 0 60px;
    font-size: 2em;
  }
  .descripcion {
    font-size: 1.5em;
  }
  .carta {
    flex-basis: 45%;
    margin: auto;
  }
  .pastel_principal {
    flex-basis: 48%;
    margin: auto;
    height: 100%;
  }
  .header {
    height: 250px;
  }
  .navMenu {
    visibility: hidden;
  }
  .navigationBar {
    display: grid;
  }
  .header .title {
    font-size: 4em;
  }
  .producto {
    height: 400px;
    margin: 5px;
    max-width: 400px;
    max-height: 400px;
  }
}
