/*  Add your styling here */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: aquamarine;
  margin: 0px;
}

.logo {
  text-align: left;
  max-width: 50%;
  height: auto;
}

.title {
  text-align: right;
  font-style: italic;
  font-size: 1.5em;
  padding: 1em;
}
.main {
  padding: 10px;
}

.welcome {
  text-align: center;
  color: #b08401;
  font-size: 1.5em;
  font-weight: 700;
}
.descrip {
  padding: 15px;
  font-style: italic;
}
.fotos {
  display: flex;
}

.pastel {
  height: 200px;
  flex-grow: 1;
  flex-basis: 0;
  margin: 6px;
  min-width: 350px;
  text-align: center;
}
